.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 30px;
  align-items: center;
  position: fixed;
  width: 100vw;
  margin-top: -20px;
}
.links {
  text-decoration: none;
  color: white;
}
.active {
  color: mediumspringgreen;
}
.cartBtn {
  color: white;
  text-decoration: none;
}
.cartDiv {
  height: 150px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
}
.dollars {
  margin-top: -5px;
}
.remover {
  margin-left: 2px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.remover:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
